/*** Universal Reset ***/
* {
  box-sizing: border-box;
}

/* site colors */
:root {
  --primary: #caebf2;
  --secondary: #001f3f;
  --tertiary: #2e435e;
}

/*** Body ***/
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}