/*** Universal Reset ***/
* {
  box-sizing: border-box;
}

/* site colors */
:root {
  --primary: #caebf2;
  --secondary: #001f3f;
  --tertiary: #2e435e;
}

/*** Body ***/
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

.page-section > h2 {
  border-right: none;
  border-bottom: 4px solid var(--secondary);
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: left;
}

.page-section p {
    margin-bottom: 20px;
}

/*** Media Queries ***/
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .profile-photo {
      float: none;
      max-height: 250px;
  }

  .contact address {
    flex-direction: column;
    align-items: center;
  }
}